$color-bg: #213555;
$color-bg-variant: #4F709C;
$color-primary: #E5D283;
$color-primary-variant: #4F709C;
$color-white: #fff;
$color-light: #ffffff99;
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;
$transition: all 400ms ease;

.about{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.about-container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about-me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        $color-primary,
        transparent
    );
    display: grid;
    place-items: center;
}

.about-me-image{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: $transition;
    &:hover{
        transform: rotate(0deg);
    }
    &::after {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background: linear-gradient(rgba(33, 53, 85, 0.715),rgba(79, 112, 156, 0.418));
      }
}

.about-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.about-article{
    background: $color-bg-variant;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: $transition;
    &:hover{
        background: transparent;
        border-color: $color-primary-variant;
        cursor: default;
    }
    h5{
        font-size: 0.95rem;
    }
    small{
        font-size: 0.7rem;
        color: $color-light;
    }
}

.about-icon{
    color: $color-primary;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about-content{
    p{
        margin: 2rem 0 2.6rem;
        color: $color-light;
    }
}

// ------------Media Queries Medium Devices-------
@media screen and (max-width: 1024px) {
    .about-container{
        grid-template-columns: 1fr;
    }
    .about-me{
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about-content p{
        margin: 1rem 0 1.5rem;
    }
}

// ------------Media Queries Small Devices-------
@media screen and (max-width: 600px) {
    
    .about-content{
        padding-left: 5px;
        margin: 0 auto;
    }
   .about-me{
    width: 65%;
    margin: 0 auto 0rem;
   }

   .about-cards{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
   }

   .about-content{
    text-align: center;
    margin-top: 0px;
    p{
        margin: 1.5rem 0;
    }
   }

    
}